name: CI
permissions:
    contents: read

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [18.x, 20.x, 22.x]
        steps:
            - uses: actions/checkout@v4
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v4
              with:
                  node-version: ${{ matrix.node-version }}
                  cache: "npm"
            - name: "Install dependencies"
              run: npm ci
            - name: "Linting"
              run: npm run lint
            - name: "Setup scripts permission"
              run: chmod +x ./scripts/build && chmod +x ./scripts/test
            - name: "Build"
              run: npm run build --if-present
            - name: "Test"
              env:
                  MIDTRANS_SANDBOX_CLIENT_KEY: ${{ secrets.MIDTRANS_SANDBOX_CLIENT_KEY }}
                  MIDTRANS_SANDBOX_SERVER_KEY: ${{ secrets.MIDTRANS_SANDBOX_SERVER_KEY }}
              run: npm test
